@charset "UTF-8";
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(snow, pink, crimson);
    color:crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background: snow;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0 0 2px 2px rgba(255, 0, 0, 0.1);
}

#animalDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
}


.animalCard {
    padding: 10px;
}

.animalAdd {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

fieldset {
    border: 1px solid crimson;
}

input {
    border: 1px solid crimson;
}

.addBtn {
    display: flex;
    margin: auto;
    padding: 10px;
    border: 1px solid crimson;
    color: crimson;
}

.addBtn:hover {
    cursor: pointer;
    background: pink;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
ul#errors {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#errors li {
    position: absolute;
    display: none;
    color:tomato;
    font-weight: bold;
}

